/* CSS for Contact Card */
.contactCard {
    min-width: 25%;
    max-width: 25%;
    height: 310px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    background-color:#999;
  }
  
  .contactCard img {
    width: 50%;
    border-radius: 50%;
  }
  
  .contactCard h2 {
    margin-top: 10px;
    font-size: 1.5em;
  }
  
  .contactCard p {
    margin-top: 1px;
    font-size: 1em;
    color: #000;
  }

  .cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
  }