body {
  margin: 10px;
  padding: 20px;
  font-family:helvetica, sans-serif;
}
/* navigation bar */
nav {
  background: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
list-style: none;
padding: 0;
margin: 0;
display: flex;
}

nav ul li {
position: relative;
}

nav a {
display: block;
padding: 10px 15px;
text-decoration: none;
color: black;
}

nav ul ul {
display: none;
position: absolute;
top: 100%;
left: 0;
background-color: #999;
border-top: 2px solid #777;
}

nav ul li:hover > ul {
display: inherit;
}

nav ul ul li {
width: 200px;
float: none;
display: list-item;
position: relative;
}

nav ul ul ul li {
position: relative;
top: -60px;
left: 200px;
}

h2.title{
  text-align: center;
}

.logo {
  width: 120px;
}

/* CSS for Contact Card */
.contact-card {
  width: 27%;
  height: 350px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  background-color:#999;
  float: left;
}

.contact-card img {
  width: 50%;
  border-radius: 50%;
}

.contact-card h2 {
  margin-top: 10px;
  font-size: 1.5em;
}

.contact-card p {
  margin-top: 5px;
  font-size: 1em;
  color: #000;
}