/* CSS for Contact Card */
.contact-card {
    width: 23%;
    height: 310px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    background-color:#999;
    float: left;
  }
  
  .contact-card img {
    width: 50%;
    border-radius: 50%;
  }
  
  .contact-card h2 {
    margin-top: 10px;
    font-size: 1.5em;
  }
  
  .contact-card p {
    margin-top: 1px;
    font-size: 1em;
    color: #000;
  }

  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }